<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>

  </nav>

  <h1 style="color: white; text-align:center">Transaction History</h1>

  <table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transaction">
            <th>{{t.Type}}</th>
            <th>{{t.amount}}</th>
        </tr>
       
    </tbody>
  </table>

  <div class="a1">
    <a routerLink="/dashboard">Home</a>
  </div>
